<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body class="background-blue">
    <div class="wrapper">
      <header class="background-dark-blue">
        <h1 class="header">Ivan Huang</h1>
        <p class="header">This is a website portfolio for BTH645</p>

        <ul>
          {% if site.show_downloads %}
            <li><a class="bold-text" href="./">About</a></li>
            <li><a class="bold-text" href="./another-page.html">Web Usability</a></li>
          {% endif %}
        </ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
